@font-face {
    src: url(../font/Montserrat-Bold.ttf) ;
    font-family: "Montserrat";
    font-weight: 700;
}
@font-face {
    src: url(../font/Montserrat-Medium.ttf) ;
    font-family: "Montserrat";
    font-weight: 500;
}
@font-face {
    src: url(../font/Montserrat-Regular.ttf) ;
    font-family: "Montserrat";
    font-weight: 400;
}
@font-face {
    src: url(../font/ProstoOne-Regular.ttf) ;
    font-family: "ProstoOne";
    font-weight: 400;
}
